h1{color: white;}
body{background-color: pink;}
img {height: 300px;width: 300px;}
h1{color:lightblue}
h1{background-color:red;}
h3{color: red;}
h2{color:antiquewhite}
h2{background-color: blue;}
